<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">



<!--  MÉTODO LEGADO APENAS PARA VERSÕES MAIS ANTIGAS 2.1, 2.3, 2.4, ENTRE OUTRAS-->
<!--    <servlet>-->
<!--    <servlet-name>primeiraServelet</servlet-name>-->
<!--    <servlet-class>br.com.devdojo.web_with_maven.PrimeiraServlet</servlet-class>-->
<!--  </servlet>-->
<!--  -->
<!--  <servlet-mapping>-->
<!--    <servlet-name>primeiraServelet</servlet-name>-->
<!--    <url-pattern>/primeiraServlet</url-pattern>-->
<!--  </servlet-mapping>-->
</web-app>